<form class="atow-abomination-sheet{{#if hideThirdColumn}} third-column-hidden{{/if}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-left">
      <input class="name abom-name" name="name" type="text" value="{{actor.name}}" placeholder="Abomination" />
      <div class="abom-header-meta">
        {{#each abominationHeaderMeta as |tag|}}
          <span>{{tag}}</span>
        {{/each}}
      </div>
    </div>
  </header>

  <section class="abom-body">
    <div class="abom-layout">
      <div class="abom-main">
        <div class="abom-main-top">
          <div class="abom-col abom-col-left">
            <section class="abom-panel">
              <h3>Abomination Data</h3>

              <div class="abom-grid abom-grid-2">
                <div class="abom-field">
                  <label>Type</label>
                  <input name="system.abomination.type" type="text" value="{{system.abomination.type}}" placeholder="Tyrant" />
                </div>

                <div class="abom-field">
                  <label>Class</label>
                  <select name="system.abomination.sizeClass">
                    <option value="Swarmer" {{#ifEq system.abomination.sizeClass "Swarmer"}}selected{{/ifEq}}>Swarmer</option>
                    <option value="Hulk" {{#ifEq system.abomination.sizeClass "Hulk"}}selected{{/ifEq}}>Hulk</option>
                    <option value="Giant" {{#ifEq system.abomination.sizeClass "Giant"}}selected{{/ifEq}}>Giant</option>
                    <option value="Titan" {{#ifEq system.abomination.sizeClass "Titan"}}selected{{/ifEq}}>Titan</option>
                  </select>
                </div>
              </div>

              <div class="abom-grid abom-grid-3">
                <div class="abom-field">
                  <label>Count</label>
                  <input name="system.abomination.trackCount" type="number" value="{{abominationTrackConfig.trackCount}}" min="1" max="6" />
                </div>

                <div class="abom-field">
                  <label>Health</label>
                  <input name="system.abomination.trackPips" type="number" value="{{abominationTrackConfig.trackPips}}" min="1" max="95" />
                </div>

                <div class="abom-field">
                  <label>Alive</label>
                  <input type="text" value="{{abominationAliveCount}}/{{abominationTrackConfig.trackCount}}" readonly />
                </div>
              </div>

              <div class="abom-grid abom-grid-2">
                <div class="abom-field">
                  <label>Gunnery</label>
                  <input name="system.pilot.gunnery" type="number" value="{{system.pilot.gunnery}}" />
                </div>

                <div class="abom-field">
                  <label>AniMelee</label>
                  <input name="system.abomination.aniMeleeSkill" type="number" value="{{system.abomination.aniMeleeSkill}}" />
                </div>
              </div>

              <div class="abom-field">
                <label>Movement</label>
                <div class="abom-inline-move">
                  <span class="abom-mini-label">G</span>
                  <input class="abom-mini-inline-input" name="system.abomination.groundMp" type="number" value="{{system.abomination.groundMp}}" />
                  <span class="abom-mini-label">J</span>
                  <input class="abom-mini-inline-input" name="system.abomination.jumpMp" type="number" value="{{system.abomination.jumpMp}}" />
                  <span class="abom-mini-label">V</span>
                  <input class="abom-mini-inline-input" name="system.abomination.vtolMp" type="number" value="{{system.abomination.vtolMp}}" />
                </div>
              </div>
            </section>

            <section class="abom-panel">
              <h3>Physical Damage</h3>

              <div class="abom-grid abom-grid-3">
                <div class="abom-field">
                  <label>Mob</label>
                  <input name="system.abomination.physical.mob" type="number" value="{{system.abomination.physical.mob}}" />
                </div>

                <div class="abom-field">
                  <label>Hobble</label>
                  <input name="system.abomination.physical.hobble" type="number" value="{{system.abomination.physical.hobble}}" />
                </div>

                <div class="abom-field">
                  <label>Melee</label>
                  <input name="system.abomination.physical.melee" type="number" value="{{system.abomination.physical.melee}}" />
                </div>
              </div>
            </section>
          </div>

          <div class="abom-col abom-col-mid">
            <section class="abom-panel abom-panel-portrait">
              <h3>Profile</h3>
              <img class="profile-img abom-portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            </section>

            <section class="abom-panel">
              <h3>Handler Notes</h3>

              <div class="abom-field">
                <label>Handler</label>
                <input name="system.abomination.handler" type="text" value="{{system.abomination.handler}}" />
              </div>

              <div class="abom-field">
                <label>Bonus</label>
                <input name="system.abomination.bonus" type="text" value="{{system.abomination.bonus}}" />
              </div>
            </section>
          </div>
        </div>

        <section class="abom-panel abom-panel-loadout">
          <h3>Combat Loadout</h3>

          <div class="abom-weapons-drop drop-zone" data-drop-zone="abomination-weapons">
            <div class="abom-we-table">
              <div class="abom-we-row abom-we-header">
                <div class="col-name">Type</div>
                <div class="col-loc">Loc</div>
                <div class="col-ht">Ht</div>
                <div class="col-dmg">Dmg</div>
                <div class="col-range">Range</div>
                <div class="col-ctrl"></div>
              </div>

              {{#each abominationMechWeapons as |w|}}
                <div class="abom-we-row item" data-item-id="{{w._id}}" data-item-uuid="{{w.itemUuid}}" {{#unless w.system.abominationSpecialAction}}draggable="true"{{/unless}}>
                  <div class="col-name"><a class="item-edit">{{w.name}}</a></div>
                <div class="col-loc">{{w.system.loc}}</div>
                <div class="col-ht">{{w.system.heat}}</div>
                <div class="col-dmg">{{w.system.damage}}</div>
                  <div class="col-range">{{#if w.system.displayRange}}{{w.system.displayRange}}{{else}}{{w.system.range.min}}/{{w.system.range.short}}/{{w.system.range.medium}}/{{w.system.range.long}}{{/if}}</div>
                  <div class="col-ctrl">
                    {{#unless w.system.abominationMelee}}
                    {{#unless w.system.abominationSpecialAction}}
                      <a class="item-delete" title="Delete">X</a>
                    {{/unless}}
                    {{/unless}}
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </section>
      </div>

      <div class="abom-col abom-col-right">
        <section class="abom-panel abom-panel-tracks">
          <h3>Condition Tracks</h3>

          <div class="abom-tracks">
            {{#each abominationTracks as |t|}}
              <div class="abom-track">
                <div class="track-number">{{t.label}}</div>
                <div class="track-pips">
                  {{#each t.rows as |row|}}
                    <div class="track-row">
                      {{#each row as |p|}}
                        <span class="abom-pip {{#if p.filled}}filled{{/if}}" data-track="{{t.key}}" data-value="{{p.value}}"></span>
                      {{/each}}
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/each}}
          </div>
        </section>

        <section class="abom-panel abom-panel-reference">
          <h3>Mob / Hobble Reference</h3>

          <table class="abom-ref-table">
            <thead>
              <tr>
                <th>Creatures</th>
                <th>Mob</th>
                <th>Hobble</th>
              </tr>
            </thead>
            <tbody>
              {{#each mobHobbleModifiers as |row|}}
                <tr>
                  <td>{{row.creatures}}</td>
                  <td>{{row.mob}}</td>
                  <td>{{row.hobble}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>

          <div class="abom-ref-subtitle">Mob Attack Hit Location (2D6)</div>
          <table class="abom-ref-table">
            <thead>
              <tr>
                <th>Roll</th>
                <th>Bipedal</th>
                <th>Four-Legged</th>
              </tr>
            </thead>
            <tbody>
              {{#each mobHitTable as |row|}}
                <tr>
                  <td>{{row.roll}}</td>
                  <td>{{row.biped}}</td>
                  <td>{{row.quad}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>

          <div class="abom-ref-subtitle">Hobble Attack Hit Location (1D6)</div>
          <table class="abom-ref-table">
            <thead>
              <tr>
                <th>Roll</th>
                <th>Bipedal</th>
                <th>Four-Legged</th>
              </tr>
            </thead>
            <tbody>
              {{#each hobbleHitTable as |row|}}
                <tr>
                  <td>{{row.roll}}</td>
                  <td>{{row.biped}}</td>
                  <td>{{row.quad}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </section>
</form>
