<form class="{{cssClass}} atow-wheeledvehicle-sheet" autocomplete="off">
  {{!-- templates/wheeledvehicle-sheet.hbs --}}

  <header class="wv-header">
    <input class="wv-name-input" name="name" type="text" value="{{actor.name}}" placeholder="Vehicle Name" />
    <span class="wv-subtitle">Wheeled Vehicle</span>
  </header>

  <section class="wv-body">
    <div class="wv-col wv-col-1">
      <section class="wv-panel">
        <h3>Vehicle Data</h3>

        <div class="wv-grid">
          <div class="wv-field">
            <label>Type</label>
            <input name="system.vehicle.type" type="text" value="{{system.vehicle.type}}" placeholder="Vehicle Type" />
          </div>

          <div class="wv-field">
            <label>Tonnage</label>
            <select name="system.vehicle.tonnage">
              {{selectOptions tonnageOptions selected=vehicleTonnage}}
            </select>
          </div>
        </div>

        <div class="wv-grid">
          <div class="wv-field">
            <label>Tech Base</label>
            <input name="system.vehicle.techBase" type="text" value="{{system.vehicle.techBase}}" />
          </div>

          <div class="wv-field">
            <label>Rules Level</label>
            <input name="system.vehicle.rulesLevel" type="text" value="{{system.vehicle.rulesLevel}}" />
          </div>
        </div>

        <div class="wv-grid">
          <div class="wv-field">
            <label>Role</label>
            <input name="system.vehicle.role" type="text" value="{{system.vehicle.role}}" />
          </div>

          <div class="wv-field">
            <label>Engine Type</label>
            <input name="system.vehicle.engine" type="text" value="{{system.vehicle.engine}}" />
          </div>
        </div>

        <div class="wv-grid">
          <div class="wv-field">
            <label>Movement Points</label>
        <div class="wv-inline">
              <span>C</span>
              <input class="wv-mini-input" name="system.vehicle.movement.cruise" type="number" value="{{system.vehicle.movement.cruise}}" />
              <span>F</span>
              <input class="wv-mini-input" name="system.vehicle.movement.flank" type="number" value="{{system.vehicle.movement.flank}}" />
            </div>
          </div>

          <div class="wv-field">
          <label>Movement Type</label>
          <select name="system.vehicle.movement.type">
            {{#select system.vehicle.movement.type}}
              <option value="Tracked">Tracked</option>
              <option value="Wheeled">Wheeled</option>
              <option value="Hovercraft">Hovercraft</option>
            {{/select}}
          </select>
        </div>
        </div>
      </section>

      <section class="wv-panel">
        <h3>Weapons &amp; Equipment Inventory</h3>

        <div class="wv-drop-zone" data-drop-zone="wheeled-weapons">
          <div class="wv-drop-hint">Drag &amp; drop mech weapons here.</div>

          <div class="wv-we-table">
            <div class="wv-we-row wv-we-header">
              <div class="wv-we-col type">Type</div>
              <div class="wv-we-col loc">Loc</div>
              <div class="wv-we-col dmg">Dmg</div>
              <div class="wv-we-col sep"></div>
              <div class="wv-we-col min">Min</div>
              <div class="wv-we-col sht">Sht</div>
              <div class="wv-we-col med">Med</div>
              <div class="wv-we-col lng">Lng</div>
              <div class="wv-we-col ctrl"></div>
            </div>

            {{#each vehicleWeapons as |w|}}
              <div class="wv-we-row" data-item-id="{{w._id}}">
                <div class="wv-we-col type"><a class="item-edit">{{w.name}}</a></div>
                <div class="wv-we-col loc">{{w.system.loc}}</div>
                <div class="wv-we-col dmg">{{w.system.damage}}</div>
                <div class="wv-we-col sep"></div>
                <div class="wv-we-col min">{{w.system.range.min}}</div>
                <div class="wv-we-col sht">{{w.system.range.short}}</div>
                <div class="wv-we-col med">{{w.system.range.medium}}</div>
                <div class="wv-we-col lng">{{w.system.range.long}}</div>
                <div class="wv-we-col ctrl">
                  <a class="item-delete" title="Delete">X</a>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </section>

    </div>

    <div class="wv-col wv-col-2">
      <section class="wv-panel">
        <h3>Crew Data</h3>

        <div class="wv-field">
          <label>Crew</label>
          <input name="system.crew.name" type="text" value="{{system.crew.name}}" />
        </div>

        <div class="wv-grid wv-grid-2">
          <div class="wv-field">
            <label>Gunnery Skill</label>
            <input name="system.crew.gunnery" type="number" value="{{system.crew.gunnery}}" />
          </div>
          <div class="wv-field">
            <label>Driving Skill</label>
            <input name="system.crew.driving" type="number" value="{{system.crew.driving}}" />
          </div>
        </div>

        <div class="wv-grid wv-grid-2">
          <div class="wv-field">
            <label>Commander Hit</label>
            <div class="wv-track">
              {{#each crewTracks.commander as |p|}}
                <span class="wv-track-box {{#if p.filled}}filled{{/if}}" data-track="crew.commanderHit" data-value="{{p.n}}">
                  {{p.n}}
                </span>
              {{/each}}
            </div>
          </div>
          <div class="wv-field">
            <label>Driver Hit</label>
            <div class="wv-track">
              {{#each crewTracks.driver as |p|}}
                <span class="wv-track-box {{#if p.filled}}filled{{/if}}" data-track="crew.driverHit" data-value="{{p.n}}">
                  {{p.n}}
                </span>
              {{/each}}
            </div>
          </div>
        </div>
      </section>

      <section class="wv-panel wv-panel-portrait">
        <h3>Vehicle Portrait</h3>
        <img class="wv-portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      </section>

      <section class="wv-panel">
        <h3>Critical Damage</h3>

        <div class="wv-crit-grid">
          <div class="wv-crit-col">
            <label class="wv-check">
              <input type="checkbox" name="system.crit.turretLocked" {{checked system.crit.turretLocked}} />
              <span>Turret Locked</span>
            </label>

            <div class="wv-field">
              <label>Sensor Hits</label>
              <div class="wv-track">
                {{#each critTracks.sensor as |p|}}
                  <span class="wv-track-box {{#if p.filled}}filled{{/if}}" data-track="crit.sensorHits" data-value="{{p.n}}">
                    {{p.n}}
                  </span>
                {{/each}}
              </div>
            </div>

            <div class="wv-field">
              <label>Motive System Hits</label>
              <div class="wv-track">
                {{#each critTracks.motive as |p|}}
                  <span class="wv-track-box {{#if p.filled}}filled{{/if}}" data-track="crit.motiveHits" data-value="{{p.n}}">
                    {{p.n}}
                  </span>
                {{/each}}
              </div>
            </div>
          </div>

          <div class="wv-crit-col">
            <label class="wv-check">
              <input type="checkbox" name="system.crit.engineHit" {{checked system.crit.engineHit}} />
              <span>Engine Hit</span>
            </label>

            <div class="wv-field">
              <label>Stabilizers</label>
              <div class="wv-inline wv-inline-checks">
                <label class="wv-check">
                  <input type="checkbox" name="system.crit.stabilizerLeft" {{checked system.crit.stabilizerLeft}} />
                  <span>Left</span>
                </label>
                <label class="wv-check">
                  <input type="checkbox" name="system.crit.stabilizerRight" {{checked system.crit.stabilizerRight}} />
                  <span>Right</span>
                </label>
              </div>
            </div>

            <div class="wv-field">
              <label>Location Hits</label>
              <div class="wv-inline wv-inline-checks">
                <label class="wv-check">
                  <input type="checkbox" name="system.crit.location.front" {{checked system.crit.location.front}} />
                  <span>Front</span>
                </label>
                <label class="wv-check">
                  <input type="checkbox" name="system.crit.location.rear" {{checked system.crit.location.rear}} />
                  <span>Rear</span>
                </label>
                <label class="wv-check">
                  <input type="checkbox" name="system.crit.location.left" {{checked system.crit.location.left}} />
                  <span>Left</span>
                </label>
                <label class="wv-check">
                  <input type="checkbox" name="system.crit.location.right" {{checked system.crit.location.right}} />
                  <span>Right</span>
                </label>
                <label class="wv-check">
                  <input type="checkbox" name="system.crit.location.turret" {{checked system.crit.location.turret}} />
                  <span>Turret</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="wv-col wv-col-3">
      <section class="wv-panel wv-panel-armor">
        <h3>Armor Diagram</h3>

        <div class="wv-armor-controls">
          <div class="wv-armor-control">
            <label>Front</label>
            <input class="wv-armor-max" name="system.armor.front.max" type="number" value="{{armor.front.max}}" min="0" />
          </div>
          <div class="wv-armor-control">
            <label>Left</label>
            <input class="wv-armor-max" name="system.armor.left.max" type="number" value="{{armor.left.max}}" min="0" />
          </div>
          <div class="wv-armor-control">
            <label>Right</label>
            <input class="wv-armor-max" name="system.armor.right.max" type="number" value="{{armor.right.max}}" min="0" />
          </div>
          <div class="wv-armor-control">
            <label>Rear</label>
            <input class="wv-armor-max" name="system.armor.rear.max" type="number" value="{{armor.rear.max}}" min="0" />
          </div>
          <div class="wv-armor-control">
            <label>Turret</label>
            <input class="wv-armor-max" name="system.armor.turret.max" type="number" value="{{armor.turret.max}}" min="0" />
          </div>
        </div>

        <div class="wv-armor-diagram">
          <div class="wv-armor-loc wv-armor-front">
            <div class="wv-armor-pips">
              {{#each armor.front.pips as |p|}}
                <span class="wv-armor-pip {{#if p.filled}}filled{{/if}}" data-loc="front" data-pip="{{p.n}}"></span>
              {{/each}}
            </div>
          </div>

          <div class="wv-armor-loc wv-armor-left">
            <div class="wv-armor-pips">
              {{#each armor.left.pips as |p|}}
                <span class="wv-armor-pip {{#if p.filled}}filled{{/if}}" data-loc="left" data-pip="{{p.n}}"></span>
              {{/each}}
            </div>
          </div>

          <div class="wv-armor-loc wv-armor-turret">
            <div class="wv-armor-pips">
              {{#each armor.turret.pips as |p|}}
                <span class="wv-armor-pip {{#if p.filled}}filled{{/if}}" data-loc="turret" data-pip="{{p.n}}"></span>
              {{/each}}
            </div>
          </div>

          <div class="wv-armor-loc wv-armor-right">
            <div class="wv-armor-pips">
              {{#each armor.right.pips as |p|}}
                <span class="wv-armor-pip {{#if p.filled}}filled{{/if}}" data-loc="right" data-pip="{{p.n}}"></span>
              {{/each}}
            </div>
          </div>

          <div class="wv-armor-loc wv-armor-rear">
            <div class="wv-armor-pips">
              {{#each armor.rear.pips as |p|}}
                <span class="wv-armor-pip {{#if p.filled}}filled{{/if}}" data-loc="rear" data-pip="{{p.n}}"></span>
              {{/each}}
            </div>
          </div>

          <div class="wv-structure-loc wv-structure-front">
            {{#each structure.front.pips as |p|}}
              <span class="wv-structure-pip {{#if p.filled}}filled{{/if}}" data-loc="front" data-pip="{{p.n}}"></span>
            {{/each}}
          </div>

          <div class="wv-structure-loc wv-structure-left">
            {{#each structure.left.pips as |p|}}
              <span class="wv-structure-pip {{#if p.filled}}filled{{/if}}" data-loc="left" data-pip="{{p.n}}"></span>
            {{/each}}
          </div>

          <div class="wv-structure-loc wv-structure-right">
            {{#each structure.right.pips as |p|}}
              <span class="wv-structure-pip {{#if p.filled}}filled{{/if}}" data-loc="right" data-pip="{{p.n}}"></span>
            {{/each}}
          </div>

          <div class="wv-structure-loc wv-structure-turret">
            {{#each structure.turret.pips as |p|}}
              <span class="wv-structure-pip {{#if p.filled}}filled{{/if}}" data-loc="turret" data-pip="{{p.n}}"></span>
            {{/each}}
          </div>

          <div class="wv-structure-loc wv-structure-rear">
            {{#each structure.rear.pips as |p|}}
              <span class="wv-structure-pip {{#if p.filled}}filled{{/if}}" data-loc="rear" data-pip="{{p.n}}"></span>
            {{/each}}
          </div>
        </div>
      </section>

    </div>
  </section>
</form>
